*, *::before, *::after{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
h1, .para-center{
    text-align: center;
}
/*Main Title an wave*/
.top{
    position: relative;
    width: 100%;
}
.top .top-wave{
    width: 100%;
    height: 70px;
    background-color: rgb(248, 135, 60);
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.top h1{
    margin: auto;
    padding-bottom: 15px;
    color: black;
    width: 100%;
    top: 5px;
    text-align: center;
    z-index: 1;
}
/*All appointed errors*/
#spanErrors{
    color: red;
}
/*Must fill in 'asterisk'*/
.asterisk{
    color: red;
}
/*Login center out*/
.centerContent{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: column;
    padding: 17% 0 17% 0;
}
.box-layout{
    margin: auto;
    text-align: center;
    padding: 2% 0 2% 0;
    width: 600px;
    /* background-color: rgb(212, 206, 202);
    border-radius: 3px; */
    /*clip-path: polygon(0% 0%, 19% 9.8%, 19.5% 9.95%, 20% 10%, 100% 0%, 100% 100%, 80% 90%, 79.5% 89.95%, 79% 89.8%, 0% 100%);/*horizontal/verticle*/
}
/*Red buttons*/
#move-right{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 80px;
}
#move-right-more{
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 80px;
}
#move-down{
    margin-top: 70px;
}
#move-down-less{
    margin-top: 40px;
}
/*status changers*/
#open{
    color: rgb(5, 182, 5);
}
#closed{
    color: red;
}
#text-submit{
    padding: 5px 50px 5px 50px;
}
.text-submit{
    padding: 10px 0 20px 0;
}
/*Styiling Overall*/
.btn-access{
    color: #fff;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    background-color: #28a745;
    border: none;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.message-box{
    width: 500px;
}
.btn-access:hover{
    background-color: coral;
    border: none;
    cursor: pointer;
}
.btr:hover{
    background-color: coral;
    color: white;
}
.contain{
    padding: 10px;
    position: relative;
}
th{
    background: rgb(253, 223, 201);
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.footer{
    background: rgb(73, 71, 70);
    padding: 10px;
    color: white;
    margin-top: 20px;
    width: 100%;
}
.fa-comment-check{
    color: black;
}
.message-prompt{
    width: 90%;
    background-color: rgb(253, 223, 201);
    margin: auto;
    border-radius: 10px;
}
.first-p{
    padding-left: 10px;
}
.second-p{
    text-align: center;
}
.third-p{
    padding-left: 10px;
}
.add-form{
    /* Using CSS Grid to lay out the elements in two-dimensions: */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 1em auto;
}
.add-form label{
    /* placing all <label> elements in the grid column 1 (the first): */
  /* aligning text-content to the right in order to position the label
     text near to the relevant <input>: */
    text-align: right;
}
.add-form input {
    grid-column: 3;
    border: thin rgb(145, 145, 145) solid;
    border-radius: 3px;
}
.add-form input[type=submit] {
    /* positioning the <button> element in the grid-area identified
       by the name of 'submit': */
    grid-area: submit;
    border: none;
}
.add-link:hover{
    text-decoration: none;
}
/*436*/
@media only screen and (max-width: 878px){
    .message-box{
        width: 260px;
    }
    table {
        border: 0;
      }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
    #move-right-more {
        right: 10px;
    }
    #move-right {
        right: 50px;
    }
}