*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}
html, body {
    width: 100%;
    height: 100%;
    background: var(--background);
}
body {
    --background: #fff;
    --primary-color: #f48c06;
    --dark: #219ebc;
    --color: #000;
    --correct-btn: #2aab68;
    --wrong-btn: #dc3545;
    --update-btn: rgb(255, 151, 113);

    --hover-correct-btn: #21804e;
    --hover-wrong-btn: #a72a36;
    --hover-update-btn: coral;
    --th-color: rgb(253, 223, 201);
}
body[data-theme="dark"]{
    --background: #000;
    --primary-color: #219ebc;
    --dark: #f48c06;
    --color: #fff;
    --correct-btn: #28a745;
    --wrong-btn: #dc3545;
    --update-btn: #147e9f;

    --hover-correct-btn: #1f8837;
    --hover-wrong-btn: #c72d3d;;
    --hover-update-btn: #126782;
    --th-color: #81a5b1;
}
h1, .para-center {
    text-align: center;
    margin: auto;
}
/*Main Title an wave*/
.top {
    position: relative;
    width: 100%;
}
.top > .top-wave {
    width: 100%;
    height: 70px;
    background: var(--primary-color);
    clip-path: polygon(100% 0%, 0% 0% , 0% 65%, 1% 64.95%, 2% 64.8%, 3% 64.6%, 4% 64.3%, 5% 63.9%, 6% 63.45%, 7% 62.9%, 8% 62.25%, 9% 61.55%, 10% 60.8%, 11% 59.95%, 12% 59.05%, 13% 58.1%, 14% 57.1%, 15% 56.05%, 16% 55%, 17% 53.9%, 18% 52.8%, 19% 51.65%, 20% 50.5%, 21% 49.35%, 22% 48.2%, 23% 47.05%, 24% 45.9%, 25% 44.8%, 26% 43.75%, 27% 42.75%, 28% 41.75%, 29% 40.8%, 30% 39.9%, 31% 39.1%, 32% 38.35%, 33% 37.65%, 34% 37.05%, 35% 36.5%, 36% 36.05%, 37% 35.65%, 38% 35.35%, 39% 35.15%, 40% 35.05%, 41% 35%, 42% 35.05%, 43% 35.2%, 44% 35.45%, 45% 35.75%, 46% 36.15%, 47% 36.65%, 48% 37.2%, 49% 37.85%, 50% 38.55%, 51% 39.35%, 52% 40.2%, 53% 41.1%, 54% 42.05%, 55% 43.05%, 56% 44.1%, 57% 45.15%, 58% 46.3%, 59% 47.4%, 60% 48.55%, 61% 49.7%, 62% 50.85%, 63% 52%, 64% 53.15%, 65% 54.25%, 66% 55.35%, 67% 56.4%, 68% 57.45%, 69% 58.4%, 70% 59.35%, 71% 60.2%, 72% 61.05%, 73% 61.8%, 74% 62.45%, 75% 63.05%, 76% 63.6%, 77% 64.05%, 78% 64.4%, 79% 64.7%, 80% 64.85%, 81% 65%, 82% 65%, 83% 64.9%, 84% 64.75%, 85% 64.5%, 86% 64.2%, 87% 63.75%, 88% 63.25%, 89% 62.7%, 90% 62.05%, 91% 61.3%, 92% 60.5%, 93% 59.65%, 94% 58.75%, 95% 57.8%, 96% 56.8%, 97% 55.75%, 98% 54.65%, 99% 53.55%, 100% 52.4%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.top > h1 {
    margin: auto;
    color: var(--color);
    font-size: 30pt;
    width: 100%;
    z-index: 1;
    padding: 8px 20px 20px 20px;
}
/* Buttons */
.correct__btn {
    cursor: pointer;
    top: calc(50% - 20px);
    right: 80px;
    color: #fff;
    background-color: var(--correct-btn);
    border-color: var(--correct-btn);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.correct__btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--hover-correct-btn);
}
.wrong__btn {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    right: 50px;
    color: #fff;
    background-color: var(--wrong-btn);
    border-color: var(--wrong-btn);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.wrong__btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--hover-wrong-btn);
}
.update__btn {
    cursor: pointer;
    top: calc(50% - 20px);
    right: 80px;
    color: #fff;
    background-color: var(--update-btn);
    border-color: var(--update-btn);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.update__btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--hover-update-btn);
}


/*All appointed errors*//*Must fill in 'asterisk'*/
.errors__mandate {
    color: red;
}
.changer {
    color: var(--color);
}
/*status changers*/
#open {
    color: rgb(5, 182, 5);
}
#closed {
    color: red;
}
.page__container {
    width: 100%;
}
/*Login center out*/
.centerContent {
    text-align: center;
    padding: 11% 0;
}
.box-layout {
    margin: auto;
    text-align: center;
    padding: 2% 0 2% 0;
    /* background-color: rgb(212, 206, 202);
    border-radius: 3px; */
    /*clip-path: polygon(0% 0%, 19% 9.8%, 19.5% 9.95%, 20% 10%, 100% 0%, 100% 100%, 80% 90%, 79.5% 89.95%, 79% 89.8%, 0% 100%);/*horizontal/verticle*/
}


/*Dark Mode*/
.dark-mode {
    width: 100px;
    height: 50px;
    position: fixed;
    top: 0; 
    bottom: 0;
    margin: auto;
    left: -5px;
    transform: translate(-50%);
    border-radius: 30px;
    background: var(--dark);
    color: white;
    overflow: hidden;
    z-index: 1;
}
.dark-mode .mode-box {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--dark);
    color: white;
    transition: all .4s;
}
.dark-mode input {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    z-index: 10;
}
.dark-mode input:checked ~ .mode-box {
    transform: rotate(180deg);
}

#move-right {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 80px;
}
#move-right-more {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 80px;
}
#move-down {
    margin-top: 70px;
}
#move-down-less {
    margin-top: 40px;
}
.text__submit {
    padding: 10px 0 20px 0;
}
.contain {
    padding: 10px;
    position: relative;
    z-index: 0;
}
table  {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table tr  {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}
th {
    background: var(--th-color);
}
table th,
table td  {
    padding: .625em;
    text-align: center;
}

table th  {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.fa-comment-check {
    color: black;
}
.message__box {
    width: 500px;
}
.message__prompt {
    width: 90%;
    background-color: var(--th-color);
    margin: auto;
    border-radius: 10px;
}
.first-p {
    padding-left: 10px;
}
.second-p {
    text-align: center;
    margin: 10px;
}
.third-p {
    padding-left: 10px;
}
.add-form {
    /* Using CSS Grid to lay out the elements in two-dimensions: */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 5em auto;
    padding: 0 20px;
}
.add-form label {
    /* placing all <label> elements in the grid column 1 (the first): */
    /* aligning text-content to the right in order to position the label
    text near to the relevant <input>: */
    text-align: right;
}
.add-form input  {
    grid-column: 3;
    border: thin rgb(145, 145, 145) solid;
    border-radius: 3px;
    margin: 10px 0;
}
input {
    padding-left: 10px;
    padding-bottom: 5px;
}
.add-form input[type=submit]  {
    /* positioning the <button> element in the grid-area identified
       by the name of 'submit': */
    grid-area: submit;
    border: none;
}
.add-link:hover {
    text-decoration: none;
}
.footer {
    background: var(--primary-color);
    padding: 10px;
    color: white;
    width: 100%;
}
.footer > p {
    margin: auto;
    padding: 10px;
}

/*436*/
@media only screen and (max-width: 878px) {
    .top__btn {
        right: 20px;
    }
    .message__box {
        width: 260px;
    }
    table  {
        border: 0;
      }
    table thead  {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr  {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td  {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td::before  {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child  {
        border-bottom: 0;
    }
    #move-right-more  {
        right: 10px;
        top: 60px;
    }
    #move-right  {
        right: 50px;
    }
    .btr  {
        background-color: rgb(255, 151, 113);
        color: white;
    }
}
@media only screen and (max-width: 400px) {
    .btr  {
        width: 100%;
    }
    .wrong__btn {
        top: calc(70% - 20px);
        right: 15px;
    }
}